<section class='col-8'>
  <% provide :page_title, t('menu.question') %>
  <% currently_at t('menu.question') %>
  
  <%= render partial: 'shared/go_back_button', locals: { path: questions_path } %>
  <h1 class='md-4'><%= t('.title') %></h1>

  <%= render partial: 'form', locals: { model: @question, method: :post, tags: @tags } %>
</section>