<p><%= t('password_reset_mailer.reset_email.text') %></p>

<p>
  <%= link_to t('link.reset_password'), 
      edit_password_reset_url(user: {password_reset_token: @user.password_reset_token,
                                      email: @user.email}, locale: locale),
      target: '_blank' %>
</p>