<section class='col-6'>
  <% provide :page_title, t('.title') %>
  <% currently_at t('menu.edit_user') %>
  
  <%= render partial: 'shared/go_back_button', locals: { path: root_path } %>
  <h1 class='md-4'><%= t('.title') %></h1>

  <%= render partial: 'form', locals: { model: @user, method: :put } %>
</section>