<header>
  <nav>
    <ul>
      <li><%= link_to t('pages.home'), root_path %>
      <li><%= link_to t('questions.index'), questions_path %>
    </ul>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</header>